/* Base */

@font-face {
    font-family: 'GeosansLight';
    src: url('../../fonts/geosanslight-webfont.woff2') format('woff2'),
         url('../../fonts/geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Heavitas';
    src: url('../../fonts/heavitas-webfont.woff2') format('woff2'),
         url('../../fonts/heavitas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GeosansLight', sans-serif;
    overflow-x: hidden;
    background-color: $color6;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Heavitas', sans-serif;
}

a {
    color: inherit;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;

    &:hover {
        text-decoration-color: $color1;
        color: $color1;
    }
}

img {
    height: auto;
}

form {
    color: white;

    p {
        font-size: 1em;
        margin-bottom: 1rem;
    }

    label {
        margin: 0;
        width: 100%;
        text-transform: uppercase;
    }

    input {

        &[type="text"],
        &[type="email"],
        &[type="tel"] {
            @extend %form-fields;
        }

        &[type="submit"] {
            display: block;
            margin: 0 auto;
            padding: 12px 50px;
            text-transform: uppercase;
            font-family: 'Heavitas', sans-serif;
            font-weight: 400;
            font-size: 1.2rem;
            border: none;
            color: $color3;
            background-color: $color1;

            @include btn-hover($color1, $color3);
        }
    }

    select {
        @extend %form-fields;
        width: 100%;
        height: 2.5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
        background-image:
            linear-gradient(45deg, transparent 50%, #fff 50%),
            linear-gradient(135deg, #fff 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
    }

    textarea {
        @extend %form-fields;
        min-height: 130px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        transition: background-color 5000s ease-in-out 0s;
        border: 1px solid #EEE;
        box-shadow: 0 0 0 1000px transparent inset;
        -webkit-text-fill-color: #000000;
    }


    ::placeholder {
        color: #AAA;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #AAA;
    }

    ::-ms-input-placeholder {
        color: #AAA;
    }
}