// Headings

@media (max-width: 576px) {
    //Manage Display Headers for Mobile Devices
    .display-sm-1 {
        font-size: 3rem;
        line-height: 1.0;
    }

    .display-sm-2 {
        font-size: 2.75rem;
        line-height: 1.0;
    }

    .display-sm-3 {
        font-size: 2.25rem;
        line-height: 1.0;
    }

    .display-sm-4 {
        font-size: 1.75rem;
        line-height: 1.0;
    }
}
