@charset "UTF-8";
/* Front-end CSS */
/* Base */
@font-face {
  font-family: "GeosansLight";
  src: url("../../fonts/geosanslight-webfont.woff2") format("woff2"), url("../../fonts/geosanslight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Heavitas";
  src: url("../../fonts/heavitas-webfont.woff2") format("woff2"), url("../../fonts/heavitas-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GeosansLight", sans-serif;
  overflow-x: hidden;
  background-color: #e9e9e9;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Heavitas", sans-serif;
}

a {
  color: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover {
  text-decoration-color: #fab718;
  color: #fab718;
}

img {
  height: auto;
}

form {
  color: white;
}
form p {
  font-size: 1em;
  margin-bottom: 1rem;
}
form label {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}
form input[type=submit] {
  display: block;
  margin: 0 auto;
  padding: 12px 50px;
  text-transform: uppercase;
  font-family: "Heavitas", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border: none;
  color: #3b1e32;
  background-color: #fab718;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
form input[type=submit]:hover {
  background-color: #da9b05;
  color: #3b1e32;
}
form select {
  width: 100%;
  height: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
form textarea {
  min-height: 130px;
}
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
form select:-webkit-autofill,
form select:-webkit-autofill:hover,
form select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #EEE;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #000000;
}
form ::placeholder {
  color: #AAA;
  opacity: 1;
}
form :-ms-input-placeholder {
  color: #AAA;
}
form ::-ms-input-placeholder {
  color: #AAA;
}

/* Placeholders */
form input[type=text], form input[type=email], form input[type=tel], form select, form textarea {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: 1.5em;
  padding: 20px 10px;
  border: 2px solid white;
  border-radius: 0;
  background: transparent;
  background-clip: padding-box;
  color: white;
}

/* Layouts */
#header .widget {
  margin-bottom: 15px;
}
#header .widget:first-child {
  margin-top: 15px;
}

#footer {
  background-color: #1c0514;
  color: #FFFFFF;
}
#footer .widget {
  display: flex;
  flex-grow: 1;
}
#footer .widget:not(:first-child) {
  margin-top: 30px;
}
#footer .widget ul,
#footer .widget ol {
  list-style: none;
}
#footer .widget-title {
  color: #fab718;
}
#footer .widget-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

/* Modules */
.navbar {
  border-radius: 0;
  z-index: 1080;
}
.navbar .navbar-brand-wrapp {
  padding-top: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
}
.navbar .navbar-brand {
  color: white;
}
.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
}

.is-navbar-dark {
  background-color: #251120 !important;
  transition: background-color 0.25s ease 0s;
}
.is-navbar-dark .navbar-nav .nav-link {
  color: white !important;
}
.is-navbar-dark .navbar-nav .active > .nav-link {
  color: white !important;
}
.is-navbar-dark .navbar-nav .active > .nav-link:hover, .is-navbar-dark .navbar-nav .active > .nav-link:focus, .is-navbar-dark .navbar-nav .active > .nav-link:active {
  color: white !important;
}

.home .entry-header {
  display: none;
}

.hashtag {
  font-family: "Heavitas", sans-serif;
}
.hashtag span {
  color: #fab718;
}

.sidebar-blog .widgets-group:first-child {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #bfbdbe;
}

.sidebar-nav-container {
  width: 100%;
  height: 100%;
  z-index: 1040;
}
.sidebar-nav-container.is-open {
  position: fixed;
  background-color: rgba(191, 189, 190, 0.8);
}
.sidebar-nav-container .sidebar-nav-toggler {
  position: fixed;
  top: 30px;
  right: 0;
  width: 20%;
  height: 50px;
  border: 0;
  background-color: white;
  z-index: 1080;
}
@media (min-width: 768px) {
  .sidebar-nav-container .sidebar-nav-toggler {
    width: 15%;
  }
}
.sidebar-nav-container .sidebar-nav-toggler .sidebar-nav-toggler-icon {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.sidebar-nav-container .sidebar-nav-collapse {
  position: fixed;
  display: none;
  width: auto;
  height: 100%;
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 40px;
  white-space: nowrap;
  background-color: #3b1e32;
  z-index: 1060;
}
.sidebar-nav-container .sidebar-nav-collapse .nav {
  padding: 30px;
}
.sidebar-nav-container .sidebar-nav {
  padding: 30px;
  list-style: none;
}
.sidebar-nav-container .sidebar-nav .menu-item {
  color: white;
}
.sidebar-nav-container .sidebar-nav .current-menu-item {
  font-weight: bold;
}

.wp-block-buttons {
  font-family: "Heavitas", sans-serif;
}

/* Correção de alinhamento dos botões (Ficar atento para atualização do WP) */
.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}

.search-form .search-field {
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.search-form .search-submit {
  padding: 0 15px;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: white;
}
.search-form .search-submit::before {
  content: "⚲";
  display: inline-block;
  color: black;
  font-size: 1.6em;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

/* Entrys */
.entry-footer .read-more-link {
  display: inline-block;
  margin: 15px 0 15px 0;
  padding: 10px 20px;
  font-family: "Heavitas", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background-image: none;
  color: white;
  background-color: #3b1e32;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.entry-footer .read-more-link:hover {
  background-color: #190d15;
  color: white;
}

.widget {
  position: relative;
  margin-bottom: 30px;
}
.widget img {
  max-width: 100%;
  height: auto;
  border: none !important;
}
.widget ul {
  padding: 0;
  list-style: none;
}
.widget li {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
}
.widget .current-cat {
  font-family: "Heavitas", sans-serif;
}

.widget-title {
  font-size: 1.4rem;
}

.tagcloud {
  text-align: center;
}
@media (min-width: 576px) {
  .tagcloud {
    text-align: inherit;
  }
}
.tagcloud .tag-cloud-link {
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 1.2em !important;
  font-family: "Heavitas", sans-serif;
  text-decoration: none;
  color: white;
  background-color: #3b1e32;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.tagcloud .tag-cloud-link:hover {
  background-color: #190d15;
  color: white;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.pagination .nav-links,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-family: "Heavitas", sans-serif;
  font-size: 1.2rem;
}
.pagination .nav-links > *,
.post-navigation .nav-links > * {
  padding: 1rem;
}

.pagination .current {
  color: #ecaf2f;
}

.comments .comment-list {
  padding: 0;
}
.comments .comment-list,
.comments .children {
  list-style: none;
}
.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  background-color: #eee;
}
.comments .comment-form {
  color: inherit;
}
.comments .comment-form label {
  font-weight: bold;
}
.comments .comment-form input,
.comments .comment-form textarea {
  border-color: #251120;
  color: inherit;
  font-size: 12px;
}
@media (min-width: 576px) {
  .comments .comment-form input,
.comments .comment-form textarea {
    font-size: 16px;
  }
}
.comments .comment-reply-link {
  display: inline-block;
  padding: 0.75rem 1.2rem;
  text-transform: uppercase;
  font-family: "Heavitas", sans-serif;
  border: none;
  background-color: #fab718;
  color: #251120;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.comments .comment-reply-link:hover {
  background-color: #da9b05;
  color: #251120;
}
.comments .reply {
  height: auto;
}

/* State */
body.logged-in nav.fixed-top {
  top: 45px;
}
@media (min-width: 992px) {
  body.logged-in nav.fixed-top {
    top: 32px;
  }
}

/* Align Wide */
.entry-header,
.entry-content,
.wp-block-cover__inner-container {
  width: 100% !important;
}
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 575.98px) {
  .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 720px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 1140px;
  }
}
.entry-header .alignfull,
.entry-content .alignfull,
.wp-block-cover__inner-container .alignfull {
  max-width: 100%;
}
.entry-header .alignwide,
.entry-content .alignwide,
.wp-block-cover__inner-container .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .entry-header .alignwide,
.entry-content .alignwide,
.wp-block-cover__inner-container .alignwide {
    max-width: 1276.8px;
  }
}

@media (max-width: 576px) {
  .display-sm-1 {
    font-size: 3rem;
    line-height: 1;
  }

  .display-sm-2 {
    font-size: 2.75rem;
    line-height: 1;
  }

  .display-sm-3 {
    font-size: 2.25rem;
    line-height: 1;
  }

  .display-sm-4 {
    font-size: 1.75rem;
    line-height: 1;
  }
}
/* Theme */

/*# sourceMappingURL=frontend-styles.css.map */
