// Big Star

.bigstar {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 0;
    opacity: 0.2 !important;

    &.bigstar-left {
        left: 0;
    }

    &.bigstar-right {
        right: 0;
    }
}