// Buttons

.wp-block-buttons {
	font-family: 'Heavitas', sans-serif;
}

/* Correção de alinhamento dos botões (Ficar atento para atualização do WP) */
.wp-block-buttons.alignright {
	text-align: right;

	.wp-block-button {
		margin-right: unset;
	}
}