// Comentários

.comments {

    .comment-list {
        padding: 0;
    }

    .comment-list,
    .children {
        list-style: none;
    }

    .comment-body {
        padding: 15px;
        margin-bottom: 1rem;
        background-color: #eee;
    }

    .comment-form {
        color: inherit;

        label {
            font-weight: bold;
        }

        input,
        textarea {
            border-color: $color4;
            color: inherit;
            font-size: 12px;

            @media (min-width: 576px) {
                font-size: 16px;
            }
        }
    }

    .comment-reply-link {
        display: inline-block;
        padding: 0.75rem 1.2rem;
        text-transform: uppercase;
        font-family: 'Heavitas', sans-serif;
        border: none;
        background-color: $color1;
        color: $color4;
        @include btn-hover($color1, $color4);
    }

    .reply {
        height: auto;
    }
}