/* Entrys */

.entry-header {
    .entry-title {}
}

.entry-content {}

.entry-footer {
    .read-more-link {
        display: inline-block;
        margin: 15px 0 15px 0;
        padding: 10px 20px;
        font-family: 'Heavitas', sans-serif;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
        background-image: none;
        color: white;
        background-color: $color3;
        @include btn-hover($color3, white);
    }
}