// Navbar

.navbar {
    border-radius: 0;
    z-index: 1080;

    .navbar-brand-wrapp {
        padding-top: 40px;
        height: 40px;
        overflow: hidden;
        position: absolute;
    }

    .navbar-brand {
        color: white;
    }

    .navbar-nav {
        .nav-link {
            text-transform: uppercase;
        }
    }
}

.is-navbar-dark {
    background-color: $color4 !important;
    transition: background-color .25s ease 0s;

    .navbar-nav {
        .nav-link {
            color: white !important;
        }

        .active>.nav-link {
            color: white !important;

            &:hover,
            &:focus,
            &:active {
                color: white !important;
            }
        }
    }
}