// Search Form

.search-form {
    .search-field {
        border: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .search-submit {
        padding: 0 15px;
        border: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: white;

        &::before {
            content: '\26B2';
            display: inline-block;
            color: black;
            font-size: 1.6em;
            -webkit-transform: rotate(-30deg);
            -moz-transform: rotate(-30deg);
            -o-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
        }
    }
}