// Sidebar Nav

.sidebar-nav-container {
    width: 100%;
    height: 100%;
    z-index: 1040;

    &.is-open {
        position: fixed;
        background-color: rgba($color7, 0.8);
    }

    .sidebar-nav-toggler {
        position: fixed;
        top: 30px;
        right: 0;
        width: 20%;
        height: 50px;
        border: 0;
        background-color: white;
        z-index: 1080;

        @media (min-width: 768px) {
            width: 15%;
        }

        .sidebar-nav-toggler-icon {
            display: block;
            width: 40px;
            height: 40px;

            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }

    .sidebar-nav-collapse {
        position: fixed;
        display: none;
        width: auto;
        height: 100%;
        font-size: 1.2em;
        text-transform: uppercase;
        line-height: 40px;
        white-space: nowrap;
        background-color: $color3;
        z-index: 1060;

        .nav {
            padding: 30px;
        }
    }

    .sidebar-nav {
        padding: 30px;
        list-style: none;

        .menu-item {
            color: white;
        }

        .current-menu-item {
            font-weight: bold;
        }
    }
}