// Tag Cloud

.tagcloud {
    text-align: center;

    @media (min-width: 576px) {
        text-align: inherit;
    }

    .tag-cloud-link {
        display: inline-block;
        margin-bottom: 5px;
        padding: 8px;
        font-size: 1.2em !important;
        font-family: 'Heavitas', sans-serif;
        text-decoration: none;
        color: white;
        background-color: $color3;
        @include btn-hover($color3, white);
    }
}