// Widgets

.widget {
    position: relative;
    margin-bottom: 30px;

    img {
        max-width: 100%;
        height: auto;
        border: none !important;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: white;
    }

    .current-cat {
        font-family: 'Heavitas', sans-serif;
    }
}

.widget-title {
    font-size: 1.4rem;
}