// Footer

#footer {
    background-color: $color5;
    color: #FFFFFF;

    .widget {
        display: flex;
        flex-grow: 1;

        &:not(:first-child) {
            margin-top: 30px;
        }

        ul,
        ol {
            list-style: none;
        }
    }

    .widget-title {
        color: $color1;
    }

    .widget-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
    }
}