// Gutenberg Color Options

@each $name, $color in $colors {
	.has-#{$name}-color {
		color: $color !important;
	}

	.has-#{$name}-background-color {
		background-color: $color !important;
	}
}

.has-platinum-to-bright-yellow-gradient-background {
	background: map-get($colors, "platinum") !important;
	background: linear-gradient(160deg,
			map-get($colors, "platinum") 0%,
			map-get($colors, "platinum") 50%,
			map-get($colors, "bright-yellow") 50%,
			map-get($colors, "bright-yellow") 100%) !important;
}

.has-bright-yellow-to-platinum-gradient-background {
	background: map-get($colors, "bright-yellow") !important;
	background: linear-gradient(160deg,
			map-get($colors, "bright-yellow") 0%,
			map-get($colors, "bright-yellow") 50%,
			map-get($colors, "platinum") 50%,
			map-get($colors, "platinum") 100%) !important;
}

.has-raisin-black-to-bright-yellow-gradient-background {
	background: map-get($colors, "raisin-black") !important;
	background: linear-gradient(160deg,
			map-get($colors, "raisin-black") 0%,
			map-get($colors, "raisin-black") 50%,
			map-get($colors, "bright-yellow") 50%,
			map-get($colors, "bright-yellow") 100%) !important;
}

.has-bright-yellow-to-raisin-black-gradient-background {
	background: map-get($colors, "bright-yellow") !important;
	background: linear-gradient(160deg,
			map-get($colors, "bright-yellow") 0%,
			map-get($colors, "bright-yellow") 50%,
			map-get($colors, "raisin-black") 50%,
			map-get($colors, "raisin-black") 100%) !important;
}

.has-raisin-black-to-platinum-gradient-background {
	background: map-get($colors, "raisin-black") !important;
	background: linear-gradient(160deg,
			map-get($colors, "raisin-black") 0%,
			map-get($colors, "raisin-black") 50%,
			map-get($colors, "platinum") 50%,
			map-get($colors, "platinum") 100%) !important;
}

.has-platinum-to-raisin-black-gradient-background {
	background: map-get($colors, "platinum") !important;
	background: linear-gradient(160deg,
			map-get($colors, "platinum") 0%,
			map-get($colors, "platinum") 50%,
			map-get($colors, "raisin-black") 50%,
			map-get($colors, "raisin-black") 100%) !important;
}