/* Shared CSS */
.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-platinum-color {
  color: #e9e9e9 !important;
}

.has-platinum-background-color {
  background-color: #e9e9e9 !important;
}

.has-gray-color {
  color: #bfbdbe !important;
}

.has-gray-background-color {
  background-color: #bfbdbe !important;
}

.has-bright-yellow-color {
  color: #fab718 !important;
}

.has-bright-yellow-background-color {
  background-color: #fab718 !important;
}

.has-urobilin-color {
  color: #ecaf2f !important;
}

.has-urobilin-background-color {
  background-color: #ecaf2f !important;
}

.has-dark-purple-color {
  color: #3b1e32 !important;
}

.has-dark-purple-background-color {
  background-color: #3b1e32 !important;
}

.has-raisin-black-color {
  color: #251120 !important;
}

.has-raisin-black-background-color {
  background-color: #251120 !important;
}

.has-licorice-color {
  color: #1c0514 !important;
}

.has-licorice-background-color {
  background-color: #1c0514 !important;
}

.has-black-color {
  color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000 !important;
}

.has-platinum-to-bright-yellow-gradient-background {
  background: #e9e9e9 !important;
  background: linear-gradient(160deg, #e9e9e9 0%, #e9e9e9 50%, #fab718 50%, #fab718 100%) !important;
}

.has-bright-yellow-to-platinum-gradient-background {
  background: #fab718 !important;
  background: linear-gradient(160deg, #fab718 0%, #fab718 50%, #e9e9e9 50%, #e9e9e9 100%) !important;
}

.has-raisin-black-to-bright-yellow-gradient-background {
  background: #251120 !important;
  background: linear-gradient(160deg, #251120 0%, #251120 50%, #fab718 50%, #fab718 100%) !important;
}

.has-bright-yellow-to-raisin-black-gradient-background {
  background: #fab718 !important;
  background: linear-gradient(160deg, #fab718 0%, #fab718 50%, #251120 50%, #251120 100%) !important;
}

.has-raisin-black-to-platinum-gradient-background {
  background: #251120 !important;
  background: linear-gradient(160deg, #251120 0%, #251120 50%, #e9e9e9 50%, #e9e9e9 100%) !important;
}

.has-platinum-to-raisin-black-gradient-background {
  background: #e9e9e9 !important;
  background: linear-gradient(160deg, #e9e9e9 0%, #e9e9e9 50%, #251120 50%, #251120 100%) !important;
}

/*# sourceMappingURL=shared-styles.css.map */
